@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');


.header-text {
    font-family: 'Poppins', sans-serif;
    color: #f5f5f5;
}

.header-text .intro-line {
    font-size: 22px;
    font-weight: 400;
    margin-bottom: 8px;
}

.header-text h1 {
    font-size: 45px;
    font-weight: 700;
    line-height: 1.3;
    margin-bottom: 20px;
}

.header-text .name-highlight {
    color: #00d4ff;
}

.header-text .role-highlight {
    color: #ffb400;
}

.head-content p {
    font-size: 16px;
    line-height: 1.8;
    color: #dcdcdc;
}

.highlight-title,
.highlight-exp,
.highlight-skill,
.highlight-arch,
.highlight-dsa,
.highlight-ux {
    color: #00e0c6;
    font-weight: 600;
}

.head-content p {
    font-size: 20px;
    line-height: 1.6;
    color: #dcdcdc;
}